_ReSharper.Quote
*.suo
*.cache
*.user
*.sdf
*.orig
*.diff
obj/
bin
UnitTests.VisualState.xml
packages/
contrib/ActiproSoftware.*/
contrib/CRT.*/
contrib/Configit.*/
!contrib/Configit.BuildTasks.*/
contrib/DotNetZip.*/
contrib/Moq.*/
contrib/NUnit.*/
contrib/System.Data.SQLite.*/
contrib/configit_*/
contrib/SapExtractors.*/
contrib/EntityFramework.*/
contrib/JasmineTest.*/
contrib/Microsoft.*/
contrib/Modernizr.*/
contrib/Newtonsoft.Json.*/
contrib/WebGrease.*/
contrib/angularjs.*/
contrib/jQuery.*/
contrib/jQuery.UI.Combined.*/
contrib/jQuery.Validation.*/
contrib/knockoutjs.*/
contrib/CommonServiceLocator.*/
contrib/Unity.*/
contrib/dotless.*/
contrib/underscore.js.*/
contrib/Angular.UI.*/
contrib/Select2.js.*/
contrib/Lucene.Net.*
contrib/RavenDB.*
contrib/SharpZipLib.*
contrib/System.Spatial.*
contrib/RhinoMocks.*
contrib/WebApiContrib.*
contrib/FontAwesome.*
src/Mat2PM/Parser/DependencyParser.cs
src/Mat2PM/Parser/DependencySym.cs
contrib/Twitter.Bootstrap.Less.*/
contrib/Lucene.Net.*/
contrib/Microsoft.Data.Edm.*/
contrib/Microsoft.Data.OData.*/
contrib/RavenDB.Client.*/
contrib/RavenDB.Database.*/
contrib/RavenDB.Embedded.*/
contrib/SharpZipLib.*/
contrib/System.Spatial.*/
src/Quote.Server.Setup/Harvest/
contrib/Security.Cryptography.*/
contrib/Twitter.Bootstrap.*/
contrib/FluentNHibernate.*/
contrib/Iesi.Collections.*/
contrib/NHibernate.*/
contrib/LinqToCsv.*/
contrib/XmlDiffPatch.*/
contrib/BundleTransformer.Core.*/
contrib/BundleTransformer.Less.*/
contrib/JavaScriptEngineSwitcher.Core.*/
contrib/JavaScriptEngineSwitcher.Msie.*/
contrib/MsieJavaScriptEngine.*/
Quote.sln.DotSettings
test/Quote.Web/node_modules
